{% extends 'learning_logs/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block page_header %}
  <h1>{{ topic }}</h1>
{% endblock page_header %}

{% block content %}
  {% if request.user == topic.owner %}
    <p>
      <a href="{% url 'learning_logs:edit_topic' topic.id %}">edit topic</a>
      <a href="{% url 'learning_logs:new_entry' topic.id %}">add new entry</a>
    </p>
  {% endif %}
  
  {% if entries.count == 1 %}
    <h2>1 entry</h2>
  {% else %}
    <h2> {{ entries.count }} entries</h2>
  {% endif %}
  {% for entry in entries %}
    <div class="card mb-3">
      <h4 class="card-header">
        {{ entry.date_added|date:'M d, Y H:i' }}
        {% if user.is_authenticated and comment.author == user %}
          <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">
            edit entry</a></small>
        {% endif %}
      </h4>
      <div class="card-body" style="background-image: url('{% static "learning_logs/images/my_background.jpg" %}');">
        {{ entry.text|linebreaks }}
      </div>
    </div>
  {% empty %}
    <p>There are no entries for this topic yet.</p>
  {% endfor %}

  {% if topic.public or comments %}
    {% if comments.count == 1 %}
      <h3>1 comment</h3>
    {% else %}
      <h3> {{ comments.count }} comments</h2>
    {% endif %}
    {% for comment in comments %}
      <div class="card mb-3">
        <h4 class="card-header">
          Posted by {{ comment.author }} {{ comment.date_added|date:'M d, Y H:i' }}
          {% if user.is_authenticated and comment.author == user %}
            <small><a href="{% url 'learning_logs:index' %}">
              edit comment</a></small>
            <small><a href="{% url 'learning_logs:index' %}">
              delete comment</a></small>
          {% endif %}
        </h4>
        <div class="card-body">
          {{ comment.text|linebreaks }}
        </div>
      </div>
    {% empty %}
      <p>There are no comments for this topic yet.</p>
    {% endfor %}

  {% else %}
    <h4>Leave a comment</h4>
    <form method="post" action="{% url 'learning_logs:topic' topic.id %}" style="margin-top: 1.3em;">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button name="submit" class="btn btn-primary">Add comment</button>
      {% endbuttons %}
    </form>

  {% endif %}

{% endblock content %}